Repository Shraymonks/unmonitorr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit

Automate Github releases
  .github/workflows/publish.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write

Fix tsc check for lint-staged
  .lintstagedrc.json
  lint-staged.config.js
Due: prettier --write

Remove warning supression fetch experimental warning removed in node 18.14.0
  Dockerfile
  package.json
  src/index.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Use pnpm cache for release action
  .github/workflows/release.yml
Due: none

Fix trivially inferred type
  src/utils.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Remove dotenv
  .gitignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix compose example
  README.md
Due: prettier --write

Fix docker build
  Dockerfile
Due: none

Update node image
  Dockerfile
Due: none

Bump pnpm version
  .github/workflows/release.yml
Due: none

Create poor-fishes-yell.md
  .changeset/poor-fishes-yell.md
Due: prettier --write

Fix multi-platform publish
  .github/workflows/publish.yml
Due: none

Support filtering events by Plex account IDs or usernames
  .changeset/quiet-walls-press.md
  README.md
  src/index.ts
  src/utils.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Improve error messages for failed requests
  .changeset/flat-bees-sing.md
  src/radarr.ts
  src/sonarr.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Fix series matching of duplicate titles
  .changeset/angry-needles-retire.md
  src/sonarr.ts
  src/utils.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Create tags with changeset action
  .github/workflows/release.yml
Due: none

Fix publish workflow trigger
  .github/workflows/publish.yml
Due: none

Fix changeset pushing existing tags
  .github/workflows/release.yml
Due: none

Allow workflow dispatch
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Update node image to 18.17.1
  .changeset/dull-pets-pay.md
  Dockerfile
Due: prettier --write

Fix docker publishing from release
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.cjs) or (any of: *.ts)
  prettier --write: ((any of: *.cjs) or (any of: *.ts)) or (any of: *.{json,md})
  tsc --noEmit: any of: *.ts
