Repository Shraymonks/unmonitorr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit

Test docker container
  .github/workflows/ci.yml
Due: none

Parallelize ci workflow
  .github/workflows/ci.yml
Due: none

Remove tsc build step
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  .node-version
  Dockerfile
  package.json
  pnpm-lock.yaml
  src/fetch.ts
  src/index.ts
  src/jellyfin.ts
  src/plex.ts
  src/radarr.ts
  src/sonarr.ts
  src/utils.ts
  tsconfig.json
Due: eslint --fix, prettier --write, tsc --noEmit

Fix ci for PRs
  .github/workflows/ci.yml
  .github/workflows/lint-commit.yml
Due: none

Fix lint-commit token
  .github/workflows/lint-commit.yml
Due: none

Fix lint-commit script
  .github/workflows/lint-commit.yml
Due: none

Fix lint-commit nested config issue
  .github/workflows/lint-commit.yml
Due: none

Use sparse checkout to fix nested biome config
  .github/workflows/lint-commit.yml
Due: none

Fix sparse checkout dir
  .github/workflows/lint-commit.yml
Due: none

Remove biome config instead of sparse checkout
  .github/workflows/lint-commit.yml
Due: none

Run ci after Lint and Commit
  .github/workflows/ci.yml
  .github/workflows/lint-commit.yml
Due: none

Fix ci runs on PRs
  .github/workflows/ci.yml
  .github/workflows/lint-commit.yml
Due: none

Fix for code scanning alert no. 9: Code injection
  .github/workflows/lint-commit.yml
Due: none

Fix for code scanning alert no. 9: Code injection (#38)
  .github/workflows/lint-commit.yml
Due: none

Update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

refine the code
  src/jellyfin.ts
  src/plex.ts
  src/sonarr.ts
Due: eslint --fix, prettier --write, tsc --noEmit

always create `sonarrApi`
  src/fetch.ts
  src/jellyfin.ts
  src/plex.ts
  src/sonarr.ts
Due: eslint --fix, prettier --write, tsc --noEmit

add: check sonarr connection the `!sonarrApi` check is useless since the client is always created
  src/sonarr.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Create early-apes-join.md
  .changeset/early-apes-join.md
Due: prettier --write

Add matching series titles based on provider IDs for Jellyfin (#37)
  .changeset/early-apes-join.md
  src/fetch.ts
  src/jellyfin.ts
  src/sonarr.ts
Due: eslint --fix, prettier --write, tsc --noEmit

feat: unmonitor season
  src/sonarr.ts
Due: eslint --fix, prettier --write, tsc --noEmit

feat: unmonitor series
  src/sonarr.ts
Due: eslint --fix, prettier --write, tsc --noEmit

rearrange the code
  src/sonarr.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Path conditions:
  eslint --fix: (any of: *.cjs) or (any of: *.ts)
  prettier --write: ((any of: *.cjs) or (any of: *.ts)) or (any of: *.{json,md})
  tsc --noEmit: any of: *.ts
