Repository Shraymonks/unmonitorr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit

Add permissions to workflows
  .github/workflows/ci.yml
  .github/workflows/lint-commit.yml
  .github/workflows/release.yml
Due: none

Skip CI for changesets
  .github/workflows/ci.yml
Due: none

Fix permission on release action
  .github/workflows/release.yml
Due: none

Update node in Dockerfile Expose jellyfin port
  .changeset/petite-cats-yawn.md
  Dockerfile
Due: prettier --write

Use biome Use lefthook
  .github/workflows/ci.yml
  .github/workflows/lint-commit.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .prettierignore
  .prettierrc.json
  biome.json
  eslint.config.js
  lefthook.yml
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/index.ts
  src/jellyfin.ts
  src/plex.ts
  src/radarr.ts
  src/sonarr.ts
  src/utils.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Pin node version
  .github/workflows/ci.yml
  .github/workflows/lint-commit.yml
  .github/workflows/release.yml
  .node-version
  Dockerfile
  package.json
Due: prettier --write

Update types
  .gitattributes
  src/types/radarr.d.ts
  src/types/sonarr.d.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Stage fixed files
  lefthook.yml
Due: none

Refactor to use openapi-fetch
  package.json
  pnpm-lock.yaml
  src/constants.ts
  src/fetch.ts
  src/index.ts
  src/jellyfin.ts
  src/plex.ts
  src/radarr.ts
  src/sonarr.ts
  src/utils.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Include Jellyfin in description
  package.json
Due: prettier --write

Fix unmonitorr not exiting if API is unset
  .changeset/grumpy-walls-enter.md
  src/index.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Fix unmonitorr not exiting if API is unset
  .changeset/grumpy-walls-enter.md
  mise.local.toml
  src/index.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Add mise.local.toml to gitignore
  .gitignore
Due: none

Add health check and optimize build
  .changeset/quiet-mugs-knock.md
  .dockerignore
  Dockerfile
  src/jellyfin.ts
  src/plex.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Use Number instead of parseInt for port
  src/jellyfin.ts
  src/plex.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Update deps
  .node-version
  Dockerfile
  biome.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use sendStatus(204) instead of end()
  src/jellyfin.ts
  src/plex.ts
  src/radarr.ts
  src/sonarr.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Only log hosts if their respective API key is configured
  .changeset/modern-memes-follow.md
  src/index.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Decouple unmonitor functions from Express
  src/jellyfin.ts
  src/plex.ts
  src/radarr.ts
  src/sonarr.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Use single port for Plex and Jellyfin
  .changeset/tasty-cities-strive.md
  Dockerfile
  README.md
  src/constants.ts
  src/index.ts
  src/jellyfin.ts
  src/plex.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Move @types/express-serve-static-core to devDependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use --frozen-lockfile in ci
  .github/workflows/ci.yml
  .github/workflows/lint-commit.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.cjs) or (any of: *.ts)
  prettier --write: ((any of: *.cjs) or (any of: *.ts)) or (any of: *.{json,md})
  tsc --noEmit: any of: *.ts
