Repository Shraymonks/unmonitorr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit

.lintstagedrc.json:

{
  "*.cjs": ["eslint --fix", "prettier --write"],
  "*.ts": ["tsc --noEmit", "eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write"
}

Fix docker publishing from release
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Use undici-types instead of undici
  .changeset/fresh-wasps-dance.md
  package.json
  pnpm-lock.yaml
  src/types/fetch.d.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Remove undici-types
  package.json
  pnpm-lock.yaml
  src/types/fetch.d.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Update deps
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/radarr.ts
  src/sonarr.ts
  src/types/radarr.d.ts
  src/types/sonarr.d.ts
  src/utils.ts
  tsconfig.json
Due: eslint --fix, prettier --write, tsc --noEmit

Use @shraymonks/eslint-config
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/sonarr.ts
  src/types/plex.d.ts
Due: eslint --fix, prettier --write, tsc --noEmit

added support for jellyfin
  README.md
  src/index.ts
  src/jellyfin.ts
  src/plex.ts
  src/radarr.ts
  src/sonarr.ts
  src/types/jellyfin.d.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Update jellyfin.d.ts
  src/types/jellyfin.d.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Update jellyfin.ts
  src/jellyfin.ts
Due: eslint --fix, prettier --write, tsc --noEmit

updated unmonitorr's jellyfin url for webhooks
  README.md
Due: prettier --write

simplified jellyfin integration. It delegate events and accounts to jellyfin webhook plugin
  README.md
  src/index.ts
  src/jellyfin.ts
  src/plex.ts
Due: eslint --fix, prettier --write, tsc --noEmit

addressed github comments
  src/index.ts
  src/jellyfin.ts
  src/plex.ts
  src/radarr.ts
  src/sonarr.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Add changeset
  .changeset/nice-boxes-serve.md
Due: prettier --write

jellyfin integration (simplified) (#22)
  .changeset/nice-boxes-serve.md
  README.md
  src/index.ts
  src/jellyfin.ts
  src/plex.ts
  src/radarr.ts
  src/sonarr.ts
  src/types/jellyfin.d.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Update dependencies
  .eslintrc.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/plex.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Update types Fix lint errors
  src/jellyfin.ts
  src/radarr.ts
  src/sonarr.ts
  src/types/jellyfin.d.ts
  src/types/plex.d.ts
  src/types/radarr.d.ts
  src/types/sonarr.d.ts
Due: eslint --fix, prettier --write, tsc --noEmit

fix for jellyfin's payloads bigger then 100kb
  src/jellyfin.ts
Due: eslint --fix, prettier --write, tsc --noEmit

- fix for jellyfin response bigger than 100kb - new feature that let user to exclude movies and or series to be unmonitored
  README.md
  src/jellyfin.ts
  src/radarr.ts
  src/sonarr.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Update deps in release workflow
  .github/workflows/release.yml
Due: none

Fix changesets tagging
  .changeset/config.json
Due: prettier --write

Fix husky pre-commit
  .husky/pre-commit
Due: none

comments fixes - common hasExclusionTag function - various comments addressed
  src/radarr.ts
  src/sonarr.ts
  src/utils.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Create metal-chicken-sing.md
  .changeset/metal-chicken-sing.md
Due: prettier --write

Create mean-lobsters-whisper.md
  .changeset/mean-lobsters-whisper.md
Due: prettier --write

big response fix and exclude feature (#27)
  .changeset/mean-lobsters-whisper.md
  .changeset/metal-chicken-sing.md
  README.md
  src/jellyfin.ts
  src/radarr.ts
  src/sonarr.ts
  src/utils.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Set up CI and lint commit workflows Fix lint and type issues
  .changeset/README.md
  .changeset/wild-chefs-glow.md
  .github/workflows/ci.yml
  .github/workflows/lint-commit.yml
  .prettierignore
  eslint.config.js
  package.json
  src/sonarr.ts
  src/utils.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write
